@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

nav {
  display: flex;
  width: 100%; }
  nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: right; }
    nav ul li {
      margin-right: 30px;
      list-style-type: none;
      font-weight: bold; }

section {
  width: 100%; }

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(180deg, #fdfdf4 0, #eaf3d1 16.67%, #ddffc9 33.33%, #c9ffc6 50%, #b8f1c2 66.67%, #a9e4bf 83.33%, #71a851 100%);
  min-height: calc(100vh - 7em); }

.titulos {
  font-family: sans-serif;
  font-size: 25px;
  width: 100%;
  text-align: center;
  background-color: #4e753a;
  padding: 20px;
  color: white; }

footer {
  background-color: #4e753a;
  color: white;
  width: 100%;
  bottom: 0;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  footer h6 {
    text-align: center; }

.footer_inicio {
  position: absolute; }

.footer_info {
  position: absolute; }

.fa {
  margin-right: 5px; }

a {
  cursor: pointer;
  text-decoration: none;
  color: white; }
  a label {
    cursor: pointer; }
  a:hover {
    color: #fcba03; }

.selected_page {
  color: #fcba03; }

.imgmenu {
  width: 30%;
  margin-left: 0; }

.imginicio {
  box-shadow: inset 10px 10px 2px black; }
  .imginicio img {
    width: 100%;
    height: 500px; }

.texto_inicio {
  width: 100%;
  text-align: center;
  margin-top: 50px; }
  .texto_inicio h2 {
    margin: 20px; }

.section_info {
  display: flex;
  justify-content: center; }

.text_info {
  padding: 5%;
  text-align: center; }
  .text_info a {
    text-decoration: underline;
    color: black;
    font-weight: bold; }

.imageplayer {
  max-width: 100%;
  height: 100%; }

.background_team {
  background-image: url("../assets/images/cancha.jpg");
  background-size: cover;
  /* margin-bottom: 20px; */ }

.equipobox {
  margin-bottom: 3em;
  padding-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.teamline {
  background-color: #3c3c3ced;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  max-width: 80vw;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%; }

.boxteam {
  margin: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  overflow: hidden;
  width: 25%;
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  align-items: center; }
  .boxteam img {
    height: max-content;
    width: -webkit-fill-available; }
  .boxteam h2 {
    margin-top: 20px;
    text-align: center; }

.boxiconos {
  display: flex;
  flex-direction: row;
  margin-top: 10px; }
  .boxiconos i {
    font-size: 25px;
    margin-right: 15px;
    display: flex;
    align-items: center; }

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .container .card {
    border: none;
    position: relative;
    --bs-card-bg: #fff0; }
    .container .card .face {
      width: 300px;
      height: 200px;
      transition: .4s; }
      .container .card .face.face1 {
        position: relative;
        background: #333;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px); }
        .container .card .face.face1 .content {
          opacity: .2;
          transition: 0.5s;
          text-align: center; }
          .container .card .face.face1 .content i {
            font-size: 3em;
            color: white;
            display: inline-block; }
          .container .card .face.face1 .content h3 {
            font-size: 1em;
            text-align: center;
            color: white; }
      .container .card .face.face2 {
        position: relative;
        background: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
        transform: translateY(-100px); }
    .container .card:hover .face.face1 {
      transform: translateY(0);
      box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #4e753a, inset -20px 0 80px #0ff, inset 20px 0 300px #4e753a, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #4e753a, 10px 0 80px #0ff; }
      .container .card:hover .face.face1 .content {
        opacity: 1; }
    .container .card:hover .face.face2 {
      transform: translateY(0); }

.contact_grid {
  display: grid;
  grid-template-areas: "titulo titulo titulo titulo" "social form form form" "map map map info";
  grid-template-rows: auto 50vh 30vh;
  grid-row-gap: 30px;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 0px 0px 7px 2px #000000a3; }

.contact_form {
  grid-area: form;
  margin-right: 2em;
  margin-top: 2em;
  align-items: center;
  justify-content: center; }
  .contact_form textarea {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    height: 40%;
    resize: none;
    display: flex;
    justify-content: center;
    font-size: 100%; }
  .contact_form button {
    background-color: green;
    padding: 10px;
    color: white;
    border-radius: 10%;
    font-size: 15px; }
    .contact_form button i {
      margin-right: 5px; }

.textarea_contact {
  justify-content: center;
  display: flex; }

.inputs_contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 0.7em;
  justify-content: center; }
  .inputs_contact input {
    width: 100%;
    text-align: justify;
    font-size: 100%; }

.send_contact {
  width: 100%;
  justify-content: center;
  display: flex; }

.social_network {
  grid-area: social;
  padding: 20px;
  width: 80%;
  flex-direction: column;
  height: 80%;
  margin-top: 2em;
  margin-left: 2em;
  display: flex;
  justify-content: center;
  background-color: grey;
  color: white;
  text-align: center;
  align-items: center; }
  .social_network h3 {
    margin-top: 10px; }

.contact_info {
  grid-area: info;
  padding: 20px;
  width: 80%;
  flex-direction: column;
  height: 80%;
  display: flex;
  justify-content: center;
  background-color: grey;
  color: white;
  text-align: center;
  align-items: center; }
  .contact_info h2 {
    margin-bottom: 10px; }
  .contact_info h3 {
    margin-top: 10px; }

.map_format {
  grid-area: map;
  display: flex;
  justify-content: center; }

.contact_phone {
  display: none; }

.title_contact {
  grid-area: titulo;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  margin-bottom: -50px; }

@media screen and (max-width: 1355px) {
  .footer_inicio {
    position: inherit; }
  .contact_info h3 {
    font-size: 20px; } }

@media screen and (max-width: 780px) {
  .contact_grid {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-areas: "titulo titulo titulo" "social form form" "map map info";
    grid-template-rows: auto 50vh 30vh;
    width: 80%;
    border: 2px solid;
    margin: 0 auto;
    margin-top: 10px; }
  .boxteam {
    width: 30%;
    margin: 10px; }
    .boxteam h1 {
      font-size: 20px; }
  .teamline {
    max-width: 100vw; }
  .container {
    justify-content: center; } }

@media screen and (max-width: 991px) {
  nav ul li {
    margin-bottom: 10px; } }

@media screen and (max-width: 580px) {
  .contact_grid {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-areas: "titulo" "inputs" "ubication";
    grid-template-rows: auto 40vh 30vh;
    width: 98%;
    border: 2px solid;
    margin: 0 auto;
    margin-top: 10px; }
  .background_team {
    height: calc(100vh - 3em); }
  .contact_form {
    grid-area: inputs;
    display: grid;
    grid-template-areas: "input area" "send send";
    grid-column-gap: 0.5em;
    grid-row-gap: 0.7em;
    margin: 0em; }
  .map_format {
    display: none;
    justify-content: center; }
  .social_network {
    display: none; }
  .contact_info {
    display: none; }
  .inputs_contact {
    grid-area: input;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%; }
    .inputs_contact input {
      width: 100%;
      height: 2em;
      text-align: justify;
      font-size: 100%; }
  .textarea_contact {
    grid-area: area;
    width: 100%;
    margin: 0%; }
  .send_contact {
    grid-area: send;
    justify-content: center; }
  .contact_phone {
    background-color: grey;
    display: flex;
    width: 100%;
    color: white; }
    .contact_phone div {
      width: 50%; }
      .contact_phone div h2 {
        margin-left: 1em;
        margin-top: 1.5em; }
  .boxteam {
    width: 30%;
    margin: 5px; }
    .boxteam h1 {
      font-size: 15px; }
  .teamline {
    max-width: 100vw; }
  .section_info {
    flex-wrap: wrap; }
  .footer_info {
    position: inherit; } }
