.answer {
    display: none;
    padding: 20px;
    background-color: transparent;
  }
  
  .questions {
    padding: 20px;
    border: solid 3px;
  }
  .questionanswer {
    margin: 2em;
    width: 95%;
    justify-content: center;
    background-color: grey;
    &:hover{
        .answer{
            display: block;
            border: solid 3px;
            background-color: white !important;
            border-top: none;
        }
        .questions{
            border-bottom: none;
        }
    }
  }
  
  .section_info {
    display: flex;
    justify-content: center;
  }
  
  .text_info {
    padding: 5%;
    text-align: center;
  }