header {
    z-index: 1000;
    background-color: black;
    display: flex;
    position: sticky;
    padding: 5px;
    align-items: center;
    top: 0;
    a{
     display: flex;
     left: 0;
    }
    ul{
        color: white;
        display: flex;
        margin: 10px;
        justify-content: end;
        li{
            margin-right: 30px;
            list-style-type: none;
            font-weight: bold;
        }
    }
  }

  nav {
    display: flex;
    width: 100%;
    ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
  }