.section_info {
    display: flex;
    justify-content: center;
  }
  
  .text_info {
    padding: 5%;
    text-align: center;
    a{
      text-decoration: underline;
      color: black;
      font-weight: bold;
    }
  }

  .imageplayer{
    max-width: 100%;
    height: 100%;
  }