@media screen and (max-width: 1355px) {
  .footer_inicio{
    position: inherit;
  }
  .contact_info{
    h3{
      font-size: 20px;
    }
  }
}

  @media screen and (max-width: 780px) {
    .contact_grid {
      display: grid;
      grid-auto-columns: minmax(0, 1fr);
      grid-template-areas:
      "titulo titulo titulo"
        "social form form"
        "map map info";
      grid-template-rows: auto 50vh 30vh;
      width: 80%;
      border: 2px solid;
      margin: 0 auto;
      margin-top: 10px;
    }
    
    .boxteam{
      width: 30%;
      margin: 10px;
      h1{
        font-size: 20px;
      }
    }
  
    .teamline{
      max-width: 100vw;
    }

    .container{
      justify-content: center;
    }
  
  }

  @media screen and (max-width: 991px) {
    nav {
      ul {
          li{
             margin-bottom: 10px;
            }
        }
    }
  }
  
  @media screen and (max-width: 580px) {
    .contact_grid {
      display: grid;
      grid-auto-columns: minmax(0, 1fr);
      grid-template-areas:
        "titulo"
        "inputs"
        "ubication";
      grid-template-rows: auto 40vh 30vh;
      width: 98%;
      border: 2px solid;
      margin: 0 auto;
      margin-top: 10px;
    }
  
    .background_team{
      height: calc(100vh - 3em);
    }
    .contact_form {
      grid-area: inputs;
      display: grid;
      grid-template-areas:
        "input area"
        "send send";
  
      grid-column-gap: 0.5em;
      grid-row-gap: 0.7em;
      margin: 0em;
    }
  
    .map_format {
      display: none;
      justify-content: center;
    }
  
    .social_network {
      display: none;
    }
  
    .contact_info {
      display: none;
    }
  
    .inputs_contact {
      grid-area: input;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      input {
        width: 100%;
        height: 2em;
        text-align: justify;
        font-size: 100%;
      }
    }
  
    .textarea_contact {
      grid-area: area;
      width: 100%;
      margin: 0%;
    }
  
    .send_contact {
      grid-area: send;
      justify-content: center;
    }
  
    .contact_phone {
      background-color: grey;
      display: flex;
      width: 100%;
      color: white;
      div {
        width: 50%;
        h2 {
            margin-left: 1em;
            margin-top: 1.5em;
          }
      }
    }
  
    .boxteam{
      width: 30%;
      margin: 5px;
      h1{
        font-size: 15px;
      }
    }
  
    .teamline{
      max-width: 100vw;
    }

    .section_info{
      flex-wrap: wrap;
    }

    .footer_info{
      position: inherit;
    }
  
  }