.background_team {
    background-image: url("../assets/images/cancha.jpg");
    background-size: cover;
    /* margin-bottom: 20px; */
  }
  .equipobox {
    margin-bottom: 3em;
    padding-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .teamline {
    background-color: #3c3c3ced;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    max-width: 80vw;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .boxteam {
    margin: 20px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    width: 25%;
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    align-items: center;
    img{
        height: max-content;
        width: -webkit-fill-available;
    }
    h2{
        margin-top: 20px;
        text-align: center;
    }
  }
  
  .boxiconos {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    i {
        font-size: 25px;
        margin-right: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
  }
  